SUPABASE_URL=https://njpamhmgqneazmqbyewn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5qcGFtaG1ncW5lYXptcWJ5ZXduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzODg4OTUsImV4cCI6MjEwMzk2NDg5NX0.VHGrq1FFVLal9o8iI4UG6wdPyCL8s-OrA-FGMhBzddI